// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.dg.ac{
  z-index: 999 !important;
}

.plane3d{
  display: inline-block;
  width: 50%vw;
  height: 50%vh;
}

.texture{
  display: inline-block;
  vertical-align: top;
  background-color: #fff;
  position:relative;
}

.decal{
  position:absolute;
  top:0;
  left:0;
  transform-origin: top left;
  white-space: nowrap;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */

  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;     
}