// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.dg.ac{
  z-index: 999 !important;
}

.plane3d{
  display: inline-block;
  width: 50%vw;
  height: 50%vh;
}

.texture{
  display: inline-block;
  vertical-align: top;
  background-color: #fff;
}