<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>avion:make</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <style type="text/css">
[ng-cloak]{
  display: none !important;
}
    </style>
  </head>
  <body ng-app="avionmakeApp"  layout="row"  layout-fill ng-cloak ng-controller="StateCtrl as app">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
     <md-sidenav class="menu md-sidenav-left md-whiteframe-z1" md-component-id="left"
          md-is-locked-open="$mdMedia('gt-lg') && app.state.indexOf('/v') !== 0">
      <md-toolbar>
        <h1 class="md-toolbar-tools">avion:make</h1>
      </md-toolbar>
      <md-content layout-padding md-scroll-y>
          <div class="menu-item" ng-class="{active:app.state=='/'}">
            <md-button href="#/" class="md-button" arial-label="step1">
              <div layout="row">
                <span translate="STEP1"></span>
                <span flex></span>
                <md-icon md-svg-src="md-toggle-arrow"></md-icon>
              </div>
            </md-button>
            <div class="menu-item-content">
              <p translate="STEP1_TEXT"></p>
            </div>
          </div>
          <div class="menu-item" ng-class="{active:app.state=='/draw'}">
            <md-button href="#/draw" ng-disabled="!app.planes.currentPlane" class="md-button" arial-label="step2">
              <div layout="row">
                <span translate="STEP2"></span>
                <span flex></span>
                <md-icon md-svg-src="md-toggle-arrow"></md-icon>
              </div>
            </md-button>
            <div class="menu-item-content">
              <p translate="STEP2_TEXT"></p>
              <md-input-container>
                <span class="md-caption">Color palette to use</span>
                <md-select ng-model="app.planes.selectedPalette">
                  <md-option ng-value="key" ng-repeat="(key,values) in app.planes.palettes">{{ key }}</md-option>
                </md-select>
              </md-input-container>  
                
            </div>
          </div>
          <div class="menu-item" ng-class="{active:app.state=='/preview'}">
            <md-button href="#/preview" ng-disabled="!app.planes.currentPlane" arial-label="step3">
              <div layout="row">
                <span translate="STEP3"></span>
                <span flex></span>
                <md-icon md-svg-src="md-toggle-arrow"></md-icon>
              </div>
            </md-button>
            <div class="menu-item-content">
              <p translate="STEP3_TEXT"></p>
              <md-switch ng-model="app.planes.mergePDF" aria-label="Switch 1">
                {{'MERGE_PDF'|translate}}
              </md-switch>
              <div layout="row" layout-align="center center">
                <md-button ng-click="app.confirmPrintPlane($event)" ng-disabled="app.planes.currentPlane.printState!=1" class="md-raised md-warn" translate="PRINT"></md-button>  
              </div>
            </div>
          </div>
          <md-divider></md-divider>
          <div class="menu-item" ng-class="{active:app.state=='/cut'}">
            <md-button href="#/cut" arial-label="step4">
              <div layout="row">
                <span translate="STEP4"></span>
                <span flex></span>
                <md-icon md-svg-src="md-toggle-arrow"></md-icon>
              </div>
            </md-button>
            <div class="menu-item-content">
              <p translate="STEP4_TEXT"></p>
            </div>
          </div>
          <div class="menu-item" ng-class="{active:app.state=='/assemble'}">
            <md-button href="#/assemble" arial-label="step5">
              <div layout="row">
                <span translate="STEP5"></span>
                <span flex></span>
                <md-icon md-svg-src="md-toggle-arrow"></md-icon>
              </div>
            </md-button>
            <div class="menu-item-content">
              <p translate="STEP5_TEXT"></p>
            </div>
          </div>
          <div class="menu-item" ng-class="{active:app.state=='/fly'}">
            <md-button href="#/fly" arial-label="step6">
              <div layout="row">
                <span translate="STEP6"></span>
                <span flex></span>
                <md-icon md-svg-src="md-toggle-arrow"></md-icon>
              </div>
            </md-button>
            <div class="menu-item-content">
              <p translate="STEP6_TEXT"></p>
            </div>
          </div>
          <md-divider></md-divider>
          <p layout="row" class="languages" layout-align="space-around start">
            <md-button ng-class="{active:app.$translate.use()=='fr'}" ng-click="app.changeLanguage('fr')">Français</md-button>
            <md-button ng-class="{active:app.$translate.use()=='de'}" ng-click="app.changeLanguage('de')">Deutsch</md-button>
            <md-button ng-class="{active:app.$translate.use()=='en'}" ng-click="app.changeLanguage('en')">English</md-button>
          </p>                    
      </md-content>
    </md-sidenav>
    <div layout="column" flex>
      <header>
      	<md-toolbar class="md-whiteframe-z2" layout="row">
      	  <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-hide="app.isLockedOpen()" ng-click="app.openMenu();">
              <md-icon md-svg-src="images/icons/ic_menu_white_24px.svg"></md-icon>
            </md-button>
            <h1 class="md-toolbar-tools"  ng-hide="app.isLockedOpen()">avion:make</h1>
        	  <span flex></span>
        	   <md-button href="#/preview" ng-show="app.state == '/draw'" class="md-raised md-primary" translate="PREVIEW"></md-button>
             <md-button ng-click="app.confirmPrintPlane($event)" ng-disabled="app.planes.currentPlane.printState!=1" ng-show="app.state == '/preview'" class="md-raised md-warn" translate="PRINT"></md-button>
      	   </div>
        </md-toolbar>
      </header>
       <md-content class="at-view-emerge at-view-scale-out" ng-view="" md-scroll-xy flex role="main" layout="column"></md-content>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/threejs/build/three.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/raphael/raphael.js"></script>
    <script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
    <script src="bower_components/canvas-5-polyfill/canvas.js"></script>
    <script src="bower_components/tweenjs/src/Tween.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <!-- endbower -->
    <script src="bower_components/raphael.free_transform/raphael.free_transform.js"></script>
    <script src="bower_components/threejs/examples/js/controls/OrbitControls.js"></script>
    <!-- endbuild -->
    
    <!-- build:onlydev -->
    <script src="bower_components/dat-gui/build/dat.gui.min.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/lib/d3threeD.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/draw.js"></script>
    <script src="scripts/controllers/preview.js"></script>
    <script src="scripts/services/planes.js"></script>
    <script src="scripts/directives/plane3d.js"></script>
    <script src="scripts/directives/planetexture.js"></script>
    <script src="scripts/controllers/choice.js"></script>
    <script src="scripts/controllers/state.js"></script>
    <script src="scripts/controllers/viewer.js"></script>
    <script src="scripts/controllers/printdialog.js"></script>
    <!-- endbuild -->
</body>
</html>
