<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>avion:make</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="avionmakeApp"  layout="row"  layout-fill ng-cloak ng-controller="StateCtrl as app">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
     <md-sidenav class="menu md-sidenav-left md-whiteframe-z1" md-component-id="left"
          md-is-locked-open="$mdMedia('gt-md')">
      <md-toolbar>
        <h1 class="md-toolbar-tools">avion:make</h1>
      </md-toolbar>
      <md-content layout-padding>
          <div ng-class="{active:app.state=='/'}">
            <md-button href="#/" class="md-button" arial-label="step1">
              <div layout="row">
                <span translate="STEP1"></span>
                <span flex></span>
                <md-icon md-svg-src="md-toggle-arrow"></md-icon>
              </div>
            </md-button>
            <div class="menu-item-content">
              <p translate="STEP1_TEXT"></p>
            </div>
          </div>
          <div ng-class="{active:app.state=='/draw'}">
            <md-button href="#/draw" ng-disabled="!app.planes.currentPlane" class="md-button" arial-label="step2">
              <div layout="row">
                <span translate="STEP2"></span>
                <span flex></span>
                <md-icon md-svg-src="md-toggle-arrow"></md-icon>
              </div>
            </md-button>
            <div class="menu-item-content">
              <p translate="STEP2_TEXT"></p>
            </div>
          </div>
          <div ng-class="{active:app.state=='/preview'}">
            <md-button href="#/preview" ng-disabled="!app.planes.currentPlane" arial-label="step3">
              <div layout="row">
                <span translate="STEP3"></span>
                <span flex></span>
                <md-icon md-svg-src="md-toggle-arrow"></md-icon>
              </div>
            </md-button>
            <div class="menu-item-content">
              <p translate="STEP3_TEXT"></p>
            </div>
          </div>
          <md-divider></md-divider>
          <div ng-class="{active:app.state=='/cut'}">
            <md-button href="#/cut" arial-label="step4">
              <div layout="row">
                <span translate="STEP4"></span>
                <span flex></span>
                <md-icon md-svg-src="md-toggle-arrow"></md-icon>
              </div>
            </md-button>
            <div class="menu-item-content">
              <p translate="STEP4_TEXT"></p>
            </div>
          </div>
          <div ng-class="{active:app.state=='/assemble'}">
            <md-button href="#/assemble" arial-label="step5">
              <div layout="row">
                <span translate="STEP5"></span>
                <span flex></span>
                <md-icon md-svg-src="md-toggle-arrow"></md-icon>
              </div>
            </md-button>
            <div class="menu-item-content">
              <p translate="STEP5_TEXT"></p>
            </div>
          </div>
          <div ng-class="{active:app.state=='/fly'}">
            <md-button href="#/fly" arial-label="step6">
              <div layout="row">
                <span translate="STEP6"></span>
                <span flex></span>
                <md-icon md-svg-src="md-toggle-arrow"></md-icon>
              </div>
            </md-button>
            <div class="menu-item-content">
              <p translate="STEP6_TEXT"></p>
            </div>
          </div>                      
      </md-content>
    </md-sidenav>
    <div layout="column" flex>
      <header>
      	<md-toolbar class="md-whiteframe-z2" layout="row" ng-controller="ToolbarCtrl as ctrl">
      	  <div class="md-toolbar-tools">
            <md-button class="md-icon-button" hide-gt-md ng-click="app.openMenu();">
              <md-icon md-svg-src="images/icons/ic_menu_white_24px.svg"></md-icon>
            </md-button>
            <h1 class="md-toolbar-tools" hide-gt-md>avion:make</h1>
            <span flex></span>
            <div layout="row">
                <md-select ng-model="app.planes.selectedPalette">
                  <md-option ng-value="key" ng-repeat="(key,values) in app.planes.palettes">{{ key }}</md-option>
                </md-select>
              <div>
                <span class="color" ng-style="{'background-color':'rgb(' + p.join() + ')'}"
                      ng-repeat="p in app.planes.palettes[app.planes.selectedPalette]"
                      ng-click="app.planes.brushColor=p"></span>
              </div>                      
              <md-slider  style="width:200px" md-discrete ng-model="app.planes.brushSize" step="2" min="6" max="40"></md-slider>
            </div>  
        	  <span flex></span>
        	   <md-button ng-show="app.state == '/draw'" class="md-raised md-primary" translate="PREVIEW"></md-button>
      	   </div>
        </md-toolbar>
      </header>
       <md-content class="at-view-emerge at-view-scale-out" ng-view="" md-scroll-xy flex role="main" layout-padding></md-content>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/threejs/build/three.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/raphael/raphael.js"></script>
    <script src="bower_components/canvas-5-polyfill/canvas.js"></script>
    <!-- endbower -->
    <script src="bower_components/raphael.free_transform/raphael.free_transform.js"></script>
    <script src="bower_components/threejs/examples/js/controls/OrbitControls.js"></script>
    <script src="scripts/lib/d3threeD.js"></script>
    <script src="bower_components/dat-gui/build/dat.gui.min.js"></script>
    <script src="bower_components/bower-pdfkit/blob-stream-v0.1.2.js"></script>
    <script src="bower_components/bower-pdfkit/pdfkit-0.7.0.js"></script>
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/draw.js"></script>
        <script src="scripts/controllers/preview.js"></script>
        <script src="scripts/services/planes.js"></script>
        <script src="scripts/directives/plane3d.js"></script>
        <script src="scripts/directives/planetexture.js"></script>
        <script src="scripts/controllers/choice.js"></script>
        <script src="scripts/controllers/toolbar.js"></script>
        <script src="scripts/controllers/state.js"></script>
        <!-- endbuild -->
</body>
</html>
