<div>
	<md-tabs md-selected="selectedIndex">
		<md-tab label="{{'PREVIEW' | translate}}" md-on-select="filter=1;tabChanged()"></md-tab>
		<md-tab label="{{'CUT' | translate}}" md-on-select="filter=2"></md-tab>
		<md-tab label="{{'FLY' | translate}}" md-on-select="filter=3"></md-tab>
		<md-tab label="{{'SCORE' | translate}}" md-on-select="filter=5"></md-tab>
		<md-tab label="{{'STATS' | translate}}" md-on-select="filter=-1"></md-tab>
	</md-tabs>
</div>
<md-content class="md-padding" id="admin">
	<table ng-show="filter>=0">
		<thead>
			<tr>
				<th translate="TIME"></th>
				<th translate="PLANE"></th>
				<th translate="TYPE"></th>
				<th translate="NAME"></th>
				<th translate="ACTION"></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="p in data | filter:{printState:filter} track by p._id">
				<td>{{p.lastModified | date: 'dd-MM HH:mm'}}</td>
				<td>{{p._id}}</td>
				<td translate="plane1"></td>
				<td>{{p.name}}</td>
				<td class="right">
					<md-button class="md-raised md-primary" ng-click="p._id" ng-show="p.printState==2">{{'CUT'|translate}}</md-button>
					<md-button class="md-raised md-primary" ng-click="p._id" ng-show="p.printState==3">{{'FLY'|translate}}</md-button>
					<md-button class="md-raised md-warn" ng-click="p._id">{{'DISABLE'|translate}}</md-button>
				</td>
			</tr>
		</tbody>
	</table>
	<div ng-show="filter==-1">
		<h3>States</h3>
		<div layout="row" class="stats">
			<div ng-repeat="(key,val) in stats.states"
				 title="{{['NONE','PREVIEW','PRINT','CUT','ASSEMBLE','FLY'][key]|translate}}"
				 ng-style="{width: val/stats.total*100 + '%'}">{{['NONE','PREVIEW','PRINT','CUT','ASSEMBLE','FLY'][key]|translate}}<br />({{val}})</div>
		</div>
		<h3>Types</h3>
		<div layout="row" class="stats">
			<div ng-repeat="(key,val) in stats.types"
				 title="{{key|translate}}"
				 ng-style="{width: val/stats.total*100 + '%'}">{{key|translate}}<br />({{val}})</div>
		</div>
		<p>Total: {{stats.total}}</p>
	</div>	
</md-content>